<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">   
                <div>
                    <h1>{{ contacts.firstName }} {{ contacts.lastName }} - CV</h1>
                    <div class="row">
                        <div class="col-lg-6">
                            <h2>Présentation</h2>
                            <p>Persévérante, motivée et curieuse, j'aime compléter mes savoirs pour accroître mes compétences. <br>
                            Attirée par le milieu informatique par sa richesse de sujets et le côté créatif, j'y évolue depuis quelques années jamais à court de sujets de recherches.</p>
                            <p>Avec un profil varié, j'ai eu la chance de voir une bonne  partie de la palette du métier informatique en ayant pu faire du design, de l'intégration et du développement pour le web.</p>
                            <p>J'ai créé ce site pour présenter mes compétences, expériences ainsi que ma formation. Mais j'en profite aussi pour partager mes projets.</p>
                        </div>
                        <div class="col-lg-6 contacts">
                            <h2 class="contacts-margin-top">Mes contacts</h2>
                            <p>
                                <i class="far fa-envelope"></i> <span class="font-weight-bold"> : </span> <a href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                            </p>
                            <p>
                                <i class="fab fa-linkedin-in"></i> <span class="font-weight-bold"> : </span> <a href="{{ contacts.linkedin }}" target="_blank">lien vers mon profil LinkedIn</a>
                            </p>
                            <p>    
                                <i class="fab fa-viadeo"></i> <span class="font-weight-bold"> : </span> <a href="{{ contacts.viadeo }}" target="_blank">lien vers mon profil Viadeo</a>  
                            </p>
                        </div>
                    </div>
                </div>                           
            </div>
        </div>
    </div>        
</header>