<div class="jobs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2><i class="fa fa-suitcase"></i> {{jobs.title}}</h2>
            </div>            
        </div>
        <div class="row">
            {{#each jobs.details}}
                <div class="jobs-details col-12">
                    <div>
                        <div class="row">
                            <div class="jobs-title col-12">
                                <h3><i class="fas fa-suitcase"></i> {{this.dates}} : {{this.jobTitle}}</h3>
                            </div>                            
                        </div>                
                        <div class="row">
                            <div class="jobs-description col-md-12 col-lg-6">
                                <div>
                                    <p class="jobs-enterprise"><span class="font-weight-bold">{{this.enterpriseTitle}} :</span> {{this.enterpriseName}} - <span class="font-italic">{{this.enterpriseDescription}}</span></p>
                                    <ul>
                                        {{#each this.jobDescription}}
                                            <li class="activity">{{{this}}}</li>
                                        {{/each}}
                                    </ul>
                                </div>                                
                            </div>
                            <div class="jobs-environnement col-md-12 col-lg-6">
                                <div>
                                    <p class="font-weight-bold">{{this.technicalEnvironment.title}}</p>
                                    {{#each this.technicalEnvironment.details}}
                                        {{#if this.integration}}
                                            <p>
                                                <span class="font-weight-bold">
                                                    <i class="fas fa-mobile-alt"></i> 
                                                    <i class="fas fa-tablet-alt"></i> 
                                                    <i class="fas fa-laptop"></i> 
                                                    Intégration :
                                                </span>
                                            </p>
                                            <ul>
                                                {{#each this.integration}}
                                                    <li>
                                                        <i class="fas fa-angle-right"></i>
                                                        {{#if @last}}
                                                            {{{this}}}
                                                        {{else}}
                                                            {{{this}}},
                                                        {{/if}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                        {{#if this.developpement}}
                                            <p><span class="font-weight-bold"><i class="fas fa-code"></i> Développement :</span></p>
                                            <ul>
                                                {{#each this.developpement}}
                                                    <li>
                                                        <i class="fas fa-angle-right"></i>
                                                        {{#if @last}}
                                                            {{{this}}}
                                                        {{else}}
                                                            {{{this}}},
                                                        {{/if}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                        {{#if this.design}}
                                            <p><span class="font-weight-bold"><i class="fas fa-pencil-alt"></i> Création :</span></p>
                                            <ul>
                                                {{#each this.design}}
                                                    <li>
                                                        <i class="fas fa-angle-right"></i>
                                                        {{#if @last}}
                                                            {{{this}}}
                                                        {{else}}
                                                            {{{this}}},
                                                        {{/if}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                        {{#if this.creation}}
                                            <p><span class="font-weight-bold"><i class="fas fa-pencil-alt"></i> Conception :</span></p>
                                            <ul>
                                                {{#each this.creation}}
                                                    <li>
                                                        <i class="fas fa-angle-right"></i>
                                                        {{#if @last}}
                                                            {{{this}}}
                                                        {{else}}
                                                            {{{this}}},
                                                        {{/if}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>    
</div>